/* header */
header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    height: 150px;
    background-repeat: repeat;
}

/* colore autore */
.autore{
    color: #808080;
}

.booleaner{
    color: #20a9e5;
}

.data{
    font-size: 12px;
}


/* autore immagini */
.photo-text{
    font-size: 11px;
}

/* colore giallo testo */
.yellow{
    background-color: yellow;
}


/* allineamento lista */


/* allineamento tabella */
table{
    text-align: left;
    width: 100%;
}

thead{
    background-color: #20a9e5;
}

.prima-riga, .terza-riga{
    background-color: #b1e5f2;
}

td{
    width: 33%;
}

/* allineamento e colore correlati */
h4{
    color: #808080;
}

.monitor{
    background-image: url("../img/monitor.jpg");
    height: 208px;
    background-repeat: no-repeat;
}

.graphic{
    background-image: url("../img/graph.jpg");
    height: 208px;
    background-repeat: no-repeat;
}

.lorem{
    font-size: 20px;
    color: #fff;
}