header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    height: 150px;
    background-repeat: repeat;
    position: relative;
}

.logo{
    position: absolute;
    bottom: 20px;
}

.autore{
    color: #808080;
}

.booleaner{
    color: #20a9e5;
}

.data{
    font-size: 12px;
}

.photo-text{
    font-size: 11px;
}

.yellow{
    background-color: yellow;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

table{
    text-align: left;
}

.table-head{
    background-color: #20a9e5;
}

.prima-riga, .terza-riga{
    background-color: #b1e5f2;
}

h4{
    color: #808080;
}
