header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    height: 150px;
    background-repeat: repeat;
}

.autore{
    color: #808080;
}

.booleaner{
    color: #20a9e5;
}

.data{
    font-size: 12px;
}

.photo-text{
    font-size: 11px;
}