body{
    background-color: rgb(235, 235, 235);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    margin: 0 auto;
    width: 70%;
}

header{
    height: 150px;
    background-repeat: repeat;
    border-bottom: 3px solid black;
}

.logo{
    margin-left: 30%;
}

/* main */
.titolo{
    text-align: center;
}
.autore{
    font-size: 12px;
}
h1{
    font-size: 60px;
    font-family: 'roboto';
}

.foto{
    text-align: center;
}
.photo-text{
    text-align: left;
    font-size: 10px;
}

/* immagini footer */
.monitor{
    background-image: url("../../img/monitor.jpg");
    height: 208px;
    background-repeat: no-repeat;
}

.graphic{
    background-image: url("../../img/graph.jpg");
    height: 208px;
    background-repeat: no-repeat;
}
.lorem{
    color: #fff;
    
}

/* tabella */
table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead{
    background-color: #00405c;
    color: #ffffff;
}

tbody{
    background-color: #d1d1d1;
}

td{
    width: 70px;
}